.back:hover{
    background-color: rgb(241, 239, 239);
}
.back{
    padding: 10px;
    border-radius: 50%;
}

.profile{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(84, 83, 83);
    max-width: 60%;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(99, 98, 98, 0.5);
    
    padding: 10px;
}

.profile-picture{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: auto;
    border-style: solid;
    border-width: 6px;
    border-color: #86b3f1;
}

.profile-picture-space{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    
}
/* small mobile :320px. */
@media (max-width: 770px) {
    .profile{
        min-width: 95%;
        text-align: left;
        box-shadow: none;
        
    }

.profile-picture{
    height: 12rem;
}
}

.red{
    color: red;
}

.name{
    display: grid;
    line-height: 0px;
    grid-template-columns: 3fr 1fr;
    text-align: left;
}

.message{
    margin-top: 30px;
    background-color: #2675e1;
    color: white;
    border: none;
    font: 14px Muli, sans-serif;
    border-radius: 20px;
    padding: 10px 25px;
}

.plus{
    font-size: small;
    font-weight: 1000;
}
.contact-info{
    
    margin-top: 30px;
    background-color: #2675e1;
    color: white;
    border: none;
    font: 14px Muli, sans-serif;
    border-radius: 20px;
    padding: 10px 25px;
}

@media (max-width: 300px){
    .name{
        display: block;
    }
}

.main-job {
    font-size:medium;
    margin-top: 30px;
    font-weight: 500;
    
}

.location{
    font-weight: 400;  
    font-size: small;
}

.name > h5 {
    font-size: 1.5rem;
    font-weight: 500;  
}
.skills {
    list-style-type: none;
    margin-top: 60px;
    box-shadow: 0px 0px 10px rgba(66, 65, 65, 0.5);
    padding: 5px;
    border-radius: 4px;
}

.skills > h3 {
    line-height: 0px;
}


p{
    line-height: 0px;
}

li > label {
    font-size: small;
    font-weight: 200;
}

.star{
    color: #2675e1;
}

h4{
    line-height: 0;
}


.about-company{
    word-wrap: break-word;
    overflow: visible;
    height: 2000px
}

